*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 240px !important;
  border: double 3px black;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.quebra-linha
{
  display: flex; 
}

